.contact-header {
  margin-left: 5px;
  font-size: x-Large;
}

.contact-page {
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .contact-header {
    font-size: xxx-large;
  }
}

@media screen and (min-width: 1024px) and (min-height: 768px) {
  .contact-header {
    margin-bottom: 1%;
  }
}
