.mainpage-container {
  display: flex;
}

.buttons-container {
  justify-items: start;
  position: fixed;
  transform: translate(100%, 50%);
}

button {
  margin: 5px;
  font-size: x-large;
}

.mens-link {
  padding-bottom: 40%;
}

.womens-link {
  transform: translate(-10%, 0%);
}

@media screen and (min-width: 375px) {
  .buttons-container {
    padding-left: 3%;
  }
}

@media screen and (min-width: 768px) {
  .buttons-container {
    padding-left: 0%;
  }
  button {
    font-size: xxx-large;
    padding: 30px;
  }

  .mens-link {
    transform: translate(15%, 0%);
  }

  .womens-link {
    transform: translate(4%, 0%);
  }
}

@media screen and (min-width: 1024px) {
  .mainpage-container {
    display: flex;
    flex-direction: row;
  }
  button {
    font-size: xxx-large;
    padding: 30px;
  }

  .buttons-container {
    width: 100%;
    justify-items: center;
    transform: translate(25%, 110%);
    display: flex;
  }

  .mens-link {
    padding-bottom: 0%;
    padding-right: 10%;
    transform: translate(0%);
  }

  .womens-link {
    transform: translate(0%);
  }
}
