.mainpage-container {
  display: flex;
  margin-bottom: 5vh;
  background-image: url("../assets/shoes.jpeg");
  height: 90vh;
}

.buttons-container {
  justify-items: start;
  position: absolute;
  transform: translate(21vh, 20vh);
}

button {
  margin: 5px;
  font-size: x-large;
}

.mens-link {
  padding-bottom: 40%;
}

.womens-link {
  transform: translate(-10%, 0%);
}

@media screen and (min-width: 375px) {
  .buttons-container {
    padding-left: 3%;
  }
}

@media screen and (min-width: 768px) {
  .buttons-container {
    padding-left: 0%;
    transform: translate(30vh, 20vh);
  }
  button {
    font-size: xxx-large;
    padding: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .mainpage-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 5vh;
  }
  button {
    font-size: xxx-large;
    padding: 30px;
  }

  .buttons-container {
    width: 100vh;
    justify-items: center;
    transform: translate(32vh, 25vh);
    display: flex;
  }

  .mens-link {
    padding-bottom: 0%;
    padding-right: 10%;
    transform: translate(0%);
  }

  .womens-link {
    transform: translate(0%);
  }
}
