.NavbarItems {
  width: 100%;
  padding: 0;
}
.navbar-links {
  padding-left: 10px;
  background-color: indianred;
}
Link {
  display: inline-block;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  margin: 1px;
  color: black;
  border-color: black;
}

@media screen and (min-width: 768px) {
  Link {
    display: inline-block;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    margin: 1px;
    color: black;
    border-color: black;
    font-size: x-large;
    margin-left: 10px;
    margin-right: 10px;
  }
}
