.NavbarItems {
  width: 100%;
  padding: 0;
}
.navbar-links {
  padding-left: 10px;
  background-color: indianred;
}
.navbar-buttons {
  display: inline-block;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  margin: 1px;
  color: indianred;
  border-color: black;
  background-color: white;
  font-size: smaller;
  text-decoration: auto;
}

@media screen and (min-width: 768px) {
  .navbar-buttons {
    display: inline-block;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    margin: 1px;
    border-color: black;
    font-size: x-large;
    margin-left: 10px;
    margin-right: 10px;
  }
}
